{% include _partials/head.html %}
  <body>
    <div class="wrap">
    {% include _partials/header.html %}

    <article class="narrow">
      <h1>Contact Us</h1>
      <div class="content clearfix">
        <h2>Welcome to The Wool &amp; Silk Co.!</h2>
        <p>We are a new, full service, yarn shop catering to knitters and crocheters alike. You will enjoy a wide selection of yarns, needles, hooks and accessories in store.</p>
        <p>Classes are on-going with a complete list offered on this site. Can't wait to see you!</p>
        <img src="./img/storefront.png"></img>
      </div>
    </article>
    <div class="push"></div>
    </div>

    {% include _partials/footer.html %}

    <script>
      console.log(screen.width);
      if (screen.width > 750)
      {
        document.getElementById("map").innerHTML = "<iframe class=\"small_map_left\" height=\"512px\" width=\"512px\" frameborder=\"0\" src=\"https://www.google.com/maps/embed/v1/place?key=AIzaSyAY5xKN6T9l-mVYWW5Oce6LnmqpeAtFu30&q=The+Wool+%26+Silk Co.,+138+Main+Street+West,+Shelburne,+ON+L9V+3K9\"></iframe>";
      }
    </script>

    {% include _partials/javascript.html %}
  </body>
</html>
