---
layout: master
---

    <article class="left" id="welcome">
      <h1>Welcome!</h1>
      <div class="content clearfix">
        <img id="welcomeimg" src="http://woolandsilkco.com/img/storefront.png" alt="Wool &amp; Silk Co. Storefront">
        <p>We are a full service, yarn shop catering to knitters and crocheters alike. You will enjoy a wide selection of yarns, needles, hooks and accessories in store. Classes are on-going with a complete list offered on this site. Can't wait to see you!</p>
        <p class="hours"><span class="title">Store Hours</span> Tue, Thurs, Fri: <span class="hours">10am - 5pm</span> Wed: <span class="hours">10am - 8:30pm</span> Sat: <span class="hours">10am - 4pm</span></p>
        <p class="hours"><span class="title">Sit-&amp;-Knit Hours</span> Wed: <span class="hours">1pm - 3pm, 6:30pm - 8:30pm</span> Sat: <span class="hours">1pm - 3pm</span></p>
        <p class="hours"><span class="title">JR. Sit-&amp;-Knit Hours</span> Sat: <span class="hours">10am - 11am</span></p>
        <div class="fb">
          <a href="https://www.facebook.com/woolinshelburne"><img src="http://woolandsilkco.com/img/facebook.png" alt="Link to Wool &amp; Silk Co. on Facebook"></a>
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwoolinshelburne&amp;width=144&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="width:144px; height:21px;" allowTransparency="true"></iframe>
        </div>
      </div>
    </article>

    <article class="right">
      <h1>News</h1>
      <div class="content">
        {% assign post1 = true %}
        {% assign post2 = true %}
        {% assign display = true %}
        {% for post in site.posts %}
          {% if post.type == "news" and display == true %}
            {% if post1 == true %}
              {% assign post1 = false %}
            {% elsif post2 == true %}
              {% assign post2 = false %}
            {% endif %}
            {% if post1 == false and post2 == false %}
              {% assign display = false %}
            {% endif%}
            <h3>{{ post.date | date_to_string }} - {{ post.title }}</h3>
            <div class="preview">{{ post.content | truncatewords: 30 }}</div><a href="{{ BASE_PATH }}{{ post.url }}">Read more...</a>
          {% endif %}
        {% endfor %}
        <a href="http://woolandsilkco.com/news/" class="all">Click Here to See All News Items</a>
      </div>
    </article>

    <article class="left">
      <h1>What's New Right Now</h1>
      <div class="content whatsnew">
        {% for post in site.posts limit:5 %}
          {% if post.type == "current" and ((site.time | date: "%m") - (post.date | date: "%m"))  %}
            <h3>{{ post.title }}</h3>
            <div>{{ post.content }}</div>
            <div class="clearfix"></div>
          {% endif %}
        {% endfor %}
      </div>
    </article>

    <script src="http://woolandsilkco.com/classes/js/classes.js"></script>
    <script>
        loadClasses(displayClassesPreview);
    </script>
    <article class="right">
      <h1>Classes</h1>
      <div class="content">
        <div id="insertClasses">
          <p id="loading">Loading class information...</p>
          <p id="error">Couldn't load class information</p>
          <p id="noclasses">Classes will resume in the New Year. Please watch the webpage for dates and times.</p>
        </div>
        <a href="http://woolandsilkco.com/classes/" class="all">Click Here to See All Classes &amp; Info</a>
      </div>
    </article>

    <article class="left">
      <h1>Featured Project</h1>
      <div class="content featured clearfix">
        <img src="http://woolandsilkco.com/projects/img/featured_15.jpg" alt="">
        <h2>Nimbus Sweater</h2>
        <h4>By Berroco Design Team</h4>
        <ul>
          <li>Free pattern</li>
          <li>Knitted in Peruvia Quick yarn.</li>
          <li>Knitted sample can be viewed in store.</li>
          <li>A cozy A-line jacket/sweater knitted in super bulky yarn.</li>
          <li>Fast to knit &amp; body/sleeves can be made longer if desired.</li>
          <li>A little something nice to make, just for you!</li>
        </ul>
        <img src="http://woolandsilkco.com/projects/img/featured_16.jpg" alt="">
        <h2>Bella Mittens</h2>
        <h4>By Marielle Henault</h4>
        <ul>
          <li>Knitted in Peruvia Quick yarn</li>
          <li>Beautiful part-cable mittens knit up quickly in super bulky yarn.</li>
          <li>Inspired by mittens worn by Kristen Stewart as Bella in the movies "Twilight" and "New Moon". Knit yourself a bit of fantasy!</li>
        </ul>
        <h3>Purchase of yarn for project 15% off!</h3>
        <div class="clearfix"></div>
        <a href="http://woolandsilkco.com/projects" class="all">Click Here to See Previous Projects</a>
      </div>
    </article>

    <article class="left">
      <h1>What We're Knitting/Crocheting</h1>
      <div class="content clearfix">
        <div class="wwk">
          <img src="/projects/img/wwk13a.png" alt="">
          <h3>Lilja (Helen)</h3>
            <ul>
              <li>Alafoss Lopi</li>
              <li>Colour#'s 1232(main), 867, 1235, 9988</li>
              <li>Needles 5.5mm circular</li>
              <li>Pattern book available in-store</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <a href="http://woolandsilkco.com/projects" class="all">Click Here to See Previous Projects</a>
      </div>
    </article>
