---
layout: master
---

{% if paginator.page == 1 %}
  {% for post in paginator.posts %}
    {% if forloop.index == 1 %}
      <article>
        <h1>Recent News</h1>
        <div class="content">
          <div class="news">
            <h2>{{post.date | date_to_string}} - {{post.title}}</h2>
            <div>{{post.content}}</div>
          </div>
        <div class="clearfix"></div>  
      </div>
      </article>
    {% endif %}
  {% endfor %}
{% else %}
  <article>
    <h1>Older News - Page {{paginator.page}}</h1>
    <div class="content">
    {% for post in paginator.posts %}
      <div class="news older">
        <h3>{{post.date | date_to_string}} - {{post.title}}</h3>
        <div>{{ post.content | strip_html | truncatewords: 20 }} <a href="{{ BASE_PATH }}{{ post.url }}">Read more...</a></div>
      </div>
    {% endfor %}
{% endif %}
  
    <div class="clearfix"></div>

    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Back</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}" class="previous inactive">Back</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">More</a>
      {% else %}
        <a href="{{ paginator.next_page_path }}" class="next inactive">More</a>
      {% endif %}
    </div>
  </div>
</article>
