<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Wool & Silk Co.</title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/flexnav.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Muli'>

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

    <link rel="shortcut icon" href="favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicons/favicon-144.png">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
  </head>

  <body>
    <div class="wrap narrow">
    <header>
      <div class="logo">
        <img src="./img/header_logo.png"></img>
        <h2>where beautiful<br>things begin</h2>
      </div>

      <div class="menu-button">Menu</div> 
      <nav class="clearfix">
        <ul class="flexnav" data-breakpoint="800">
          <li><a href="#">Home</a></li>
          <li><a href="#">Yarn &amp Supplies</a></li>
          <li><a href="#">Classes</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </header>


    <article class="left">
      <h1>Our Story</h1>
      <div class="content">
        <h2>Welcome to The Wool &amp; Silk Co.!</h2>
        <p>We are a new, full service, yarn shop catering to knitters and crocheters alike. You will enjoy a wide selection of yarns, needles, hooks and accessories in store.</p>
        <p>Classes are on-going with a complete list offered on this site. Can't wait to see you!</p>
        <img src="./img/store.png"></img>
    </div>
    </article>

    <article class="right">
      <h1>News</h1>
      <div class="content">
        <h3>01/01/2015 - News Item Number 1</h3>
        <p>This is the description for the first news item.</p>
        <h3>02/02/2015 - News Item Number 2</h3>
        <p>This is the description for the second, slightly longer than the first news item.</p>
      </div>
    </article>

    <article class="right">
      <h1>Classes</h1>
      <div class="content">
        <h3>01/01/2015, 12:00 PM - Class Number 1</h3>
        <p>Brief description of class here.</p>
        <h3>02/02/2015, 12:00 PM - Class Number 2</h3>
        <p>Brief (although slightly longer than the first) description of class here.</p>
      </div>
    </article>
    <div class="push"></div>
    </div>

    <footer class="narrow">
      <a>Copyright © <script>document.write(new Date().getFullYear())</script><noscript>2014</noscript> The Wool and Silk Company</a>
      <br>
      <a class="link" href="http://www.frazerseymour.ca">Design by Frazer Seymour</a>
    </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

    <script src="js/jquery.flexnav.min.js"></script>
    <script>
      $(".flexnav").flexNav();
    </script>

    <script src="js/main.js"></script>

  </body>
</html>
